@font-face {
	font-family: "nintendo";
	src: url("https://dl.dropbox.com/s/vlxjtnvrl9s0snp/Nintendo-DS-BIOS.ttf");
}
 @-webkit-keyframes tilt {
   0% {
     -webkit-transform: rotateZ(-0.5deg);
     transform: rotateZ(-0.5deg);
  }
   50% {
     -webkit-transform: rotateZ(0.5deg);
     transform: rotateZ(0.5deg);
  }
   100% {
     -webkit-transform: rotateZ(-0.5deg);
     transform: rotateZ(-0.5deg);
  }
}
 @keyframes tilt {
   0% {
     -webkit-transform: rotateZ(-0.5deg);
     transform: rotateZ(-0.5deg);
  }
   50% {
     -webkit-transform: rotateZ(0.5deg);
     transform: rotateZ(0.5deg);
  }
   100% {
     -webkit-transform: rotateZ(-0.5deg);
     transform: rotateZ(-0.5deg);
  }
}
 body {
   font-family: "nintendo", arial;
   background-image: url('https://i.pinimg.com/originals/77/92/08/779208dfad11dfd0eb87c0e8fb4c2eb6.gif');
   background-size: auto 100%;
}
 .allMessages {
   margin: 7px;
   opacity: 0.75;
   transition: box-shadow: 1s linear;
}
.msgBody {
  margin: 7px;
}
.senderInfo {
  margin: 3px;
  letter-spacing: 3px;
}
.allMessages.containsOnlyEmojis .emoji {
    height: 50px;
}
 .allMessages:hover {
   opacity: 1;
   animation-play-state: paused;
}
 .sent {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: #00000075;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: white;
     font-size: 18px;
}
 .sent:hover {
   box-shadow: 0 0 10px 3px #FFF;
}
 .recieved {
   backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: #00000075;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: white;
    font-size: 18px;
}
 .recieved:hover {
   box-shadow: 0 0 10px 3px #FFBBCC;
}
 .allMessages:nth-child(odd){
   animation: tilt 3s linear infinite;
   -webkit-animation: tilt 3s linear infinite;
}
 .allMessages:nth-child(even){
   animation: tilt 3s linear infinite alternate-reverse;
   -webkit-animation: tilt 3s linear infinite alternate-reverse;
}

 blockquote {
   background-color: #EEAABB;
   color: #FFF;
   opacity: 0.90;
   border-right: solid 2px #AAA;
}
 #background {
   scrollbar-color: #791052 transparent;
}
 #input {
  background-color: #ffe9f6;
}
 #top_banner {
   background: #791052;
}
.mod, .owner, .tester {
  width: 0;
}
.mod::before {
  content: "[MOD]";
  display: inline-block;
  color: #ff69b4;
  position: absolute;
  top: 7px;
  right: 7px;
}
.owner::before {
  content: "[OWNER]";
  display: inline-block;
  color: #ff69b4;
  position: absolute;
  top: 7px;
  right: 7px;
}
.ctxMenuOption {
  background-color: #FFBBCC !important;
  color: #111;
}
.ctxMenuOption:nth-child(odd) {
  background-color: #ffd5df !important;
}
.ctxMenuOption:hover {
  filter: brightness(80%);
  -webkit-filter: brightness(80%);
}
#ctxMenu {
  background-color: #FFBBCC !important;
}
#emojiTray {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  width: calc(100% - 40px);
  background-color: #791052;
  box-shadow: 3px 3px 5px #222;
  color: #FFF;
  text-shadow: 1px 1px 3px #A77;
}
#emojiTay img {
  height: 15px;
}
#settingsMenu hr {
  border: none;
  height: 2px;
  background-color: #FFBBDD;
  width: 100%;
}
#settingsMenu input[type=text] {
  border: solid 1px #FFBBDD;
  border-radius: 1em;
  background-color: white;
  color: #FFBBDD;
  outline: none !important;
}
#settingsMenu input[type=text]:focus {
  border: solid 2px #FFBBDD;
}
#save {
  border: solid 2px #FFBBDD;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFBBDD;
  font-weight: bolder;
  font-size: 12pt;
  padding: 5px;
  border-radius: 1em;
  background-color: #FFF;
}
#is_typing {
  background-color: #FFEFEF;
  border: solid 1px #FFBBDD;
  height: 15px;
  border-radius: 8px;
  left: calc(50% - 15px);
}
#is_typing > span {
  background-color: #FFBBDD;
}