@font-face {
   font-family: "Pastel";
   src: url('https://chattable.neocities.org/media/pastel.ttf');
}
 @-webkit-keyframes tilt {
   0% {
     -webkit-transform: rotateZ(-0.5deg);
     transform: rotateZ(-0.5deg);
  }
   50% {
     -webkit-transform: rotateZ(0.5deg);
     transform: rotateZ(0.5deg);
  }
   100% {
     -webkit-transform: rotateZ(-0.5deg);
     transform: rotateZ(-0.5deg);
  }
}
 @keyframes tilt {
   0% {
     -webkit-transform: rotateZ(-0.5deg);
     transform: rotateZ(-0.5deg);
  }
   50% {
     -webkit-transform: rotateZ(0.5deg);
     transform: rotateZ(0.5deg);
  }
   100% {
     -webkit-transform: rotateZ(-0.5deg);
     transform: rotateZ(-0.5deg);
  }
}
@keyframes rev_tilt {
   0% {
     -webkit-transform: rotateZ(0.5deg);
     transform: rotateZ(0.5deg);
  }
   50% {
     -webkit-transform: rotateZ(-0.5deg);
     transform: rotateZ(-0.5deg);
  }
   100% {
     -webkit-transform: rotateZ(0.5deg);
     transform: rotateZ(0.5deg);
  }
}
 body {
   font-family: "Pastel", cursive;
   background-image: url('/media/pink-bg.gif');
   background-size: auto 100%;
}
.msgWrapper {
  transition: transform 250ms ease, padding 250ms ease;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}
.msgWrapper:nth-child(odd) .allMessages {
   animation: tilt 3s linear infinite;
   -webkit-animation: tilt 3s linear infinite;
}
.msgWrapper:nth-child(even) .allMessages {
   animation: rev_tilt 3s linear infinite;
   -webkit-animation: rev_tilt 3s linear infinite;
}
.msgWrapper:has(.msgBody:hover) {
  transform: scale(1.05);
}
.allMessages {
   display: block;
   margin: 5px;
   padding: 10px;
   font-size: 10pt;
   max-width: 80%;
   clear: both;
   transition: box-shadow 100ms ease;
}
.allMessages:hover {
   filter: brightness(105%);
   -webkit-filter: brightness(105%);
   animation-play-state: paused;
   box-shadow: 0 0 5px #FFF;
}
.allMessages.containsOnlyEmojis .emoji {
    height: 50px;
}
.allMessages.pm {
  padding-top: 26px;
}
.allMessages.pm:before {
  content: "Only You Can See This";
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 16px;
  width: calc(100% - 26px);
  line-height: 16px;
  position: absolute;
  right: 26px;
  top: 5px;
  font-size: 8px;
  font-weight: bolder;
  opacity: 0.5;
}
.allMessages.pm:after {
  content: " ";
  display: block;
  height: 16px;
  width: 16px;
  position: absolute;
  right: 5px;
  top: 5px;
  background-image: url("/media/lock.svg");
  background-size: 100% 100%;
  opacity: 0.5;
}
.sent {
   display: inline-block;
   border-radius: 15px 15px 2px 15px;
   background-color: #fff;
   color: #111;
   position: relative;
}
.senderInfo {
   font-style: italic;
   color: #555;
   font-weight: 500;
}
 .recieved {
   display: inline-block;
   border-radius: 15px 15px 15px 2px;
   background: #ffe9f6;
   color: #333;
   position: relative;
}
.msgWrapper:has(.received) {
   justify-content: flex-start;
}
.msgWrapper:has(.sent) {
   justify-content: flex-end;
}
.msgWrapper:has(.received:hover) {
   padding-left: 20px;
}
.msgWrapper:has(.sent:hover) {
   padding-right: 20px;
}
.sent + #timestamp {
  text-align: right;
}
.received + #timestamp {
  text-align: left;
}
blockquote {
   background-color: #EEAABB;
   color: #FFF;
   opacity: 0.90;
   border-right: solid 2px #AAA;
}
 #background {
   scrollbar-color: #FFBBDD transparent;
}
 #input {
  background-color: #ffe9f6;
}
 #top_banner {
   background: #FFBBDD;
}
.mod, .owner, .tester {
  width: 0;
}
.mod::before {
  content: "[MOD]";
  display: inline-block;
  color: #ff69b4;
  position: absolute;
  top: 7px;
  right: 7px;
}
.owner::before {
  content: "[OWNER]";
  display: inline-block;
  color: #ff69b4;
  position: absolute;
  top: 7px;
  right: 7px;
}
.ctxMenuOption {
  margin: 0 !important;
  background-color: #FFBBCC !important;
  color: #111;
}
.ctxMenuOption:nth-child(odd) {
  background-color: #ffd5df !important;
}
.ctxMenuOption:hover {
  color: #FFF;
  text-shadow: 0 0 3px #FFF, 0 0 5px #AAA;
  height: unset;
  padding: 10px 3px 10px 12px !important;
  z-index: 2;
}
.ctxMenuOption:hover + .ctxMenuOption {
  box-shadow: 0 0 3px #000;
  z-index: 3;
}
#ctxMenu {
  background-color: #FFBBCC !important;
}
#emojiTray {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  width: calc(100% - 40px);
  background-color: #FBC;
  box-shadow: 3px 3px 5px #222;
  color: #FFF;
  text-shadow: 1px 1px 3px #A77;
}
#emojiTay img {
  height: 15px;
}
#settingsMenu hr {
  border: none;
  height: 2px;
  background-color: #FFBBDD;
  width: 100%;
}
#settingsMenu input[type=text] {
  border: solid 1px #FFBBDD;
  border-radius: 1em;
  background-color: #FFF;
  color: #FFBBDD;
  outline: none !important;
}
#settingsMenu input[type=text]:focus {
  border: solid 2px #FFBBDD;
}
#save {
  border: solid 2px #FFBBDD;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFBBDD;
  font-weight: bolder;
  font-size: 12pt;
  padding: 5px;
  border-radius: 1em;
  background-color: #FFF;
}
#is_typing {
  background-color: #FFEFEF;
  border: solid 1px #FFBBDD;
  height: 15px;
  border-radius: 8px;
  left: calc(50% - 15px);
}
#is_typing > span {
  background-color: #FFBBDD;
}
#timestamp {
  margin: 0;
  font-size: 10pt;
  width: 100%;
}
